<!DOCTYPE html>
<html>
<body>
    <h1>Score Tracker</h1>
    <div class="courseWrapper">
        <p class="courseName"></p>
        <div class="courseHeader">
            <div class="courseColumn">
                <p>Contestant</p>
            </div>
            <div class="courseColumn">
                <p>Target 1</p>
            </div>
            <div class="courseColumn">
                <p>Target 2</p>
            </div>
            <div class="courseColumn">
                <p>Target 3</p>
            </div>
            <div class="courseColumn">
                <p>Total</p>
            </div>
        </div>
        <div class="courseRow">
            <div class="courseColumn">
                <p>Test Contestant</p>
            </div>
            <div class="courseColumn">
                <div class="roundRow">
                    <div class="courseColumn">
                        <p>2</p>
                    </div>
                    <div class="courseColumn">
                        <p>5</p>
                    </div>
                    <div class="courseColumn">
                        <p>3</p>
                    </div>
                    <div class="courseColumn">
                        <p>10</p>
                    </div>
                </div>
                <div class="roundRow">
                    <div class="courseColumn">
                        <p>1</p>
                    </div>
                    <div class="courseColumn">
                        <p>0</p>
                    </div>
                    <div class="courseColumn">
                        <p>5</p>
                    </div>
                    <div class="courseColumn">
                        <p>6</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>